<!doctype html>
<html>
    <head>
        <title>Tab Stats</title>
        <link rel="stylesheet" href="/css/popup.css" />
        <script src="/js/popup.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <h1>Tab Stats</h1>
            <ul>
                <li><strong id="currentCount">XXX</strong> Current Count</li>
                <li><strong id="totalCreated">XXX</strong> Total Created</li>
            </ul>
            Total Today

            <div class="">
                <label><input type="checkbox" id="showStat"/> Show stat on badge</label>
                <br />
                <input type="radio" id="showCurrent" name="showStat" value="1"> Current Count<br>
                <input type="radio" id="showCreated" name="showStat" value="2"> Total Created<br>
                <input type="radio" id="showDeleted" name="showStat" value="3"> Total Deleted<br>
            </div>
            Show number in icon
            Clear stats
            <p>Created by John and Matthew</p>
        </div>
    </body>
</html>