<!doctype html>
<html>
    <head>
        <title>Tab Stats</title>
        <link rel="stylesheet" href="/css/popup.css" />
        <script src="/js/popup.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <h1>Tab Stats</h1>
            <ul class="stat-list">
                <li><strong id="currentCount">0</strong> Current Count </li>
                <li><strong id="totalCreated">0</strong> Total Created&nbsp;<a class="resetBtn" href="#" id="deletedReset">X</a></li>
                <li><strong id="tabsForWindow">0</strong> Current Window</li>
                <li><strong id="totalDeleted">0</strong> Total Deleted&nbsp;<a class="resetBtn" href="#" id="deletedReset">X</a></li>
				<li><strong id="longestTimeOnTab">N/A</strong> <span id="longestTabName">Longest Tab Duration</span>&nbsp;<a class="resetBtn" href="#" id="longestReset">X</a></li>
                <li><strong id="duplicateCount">0</strong> Duplicate Count</li>
            </ul>

            <div id="badge-options">
                <label><input type="checkbox" id="showStat" checked="checked"/> Show number on icon</label>
                <label><input type="radio" id="showCurrent" name="showStatType" value="CURRENT"> Current Count</label>
                <label><input type="radio" id="showCreated" name="showStatType" value="CREATED"> Total Created</label>
                <label><input type="radio" id="showDeleted" name="showStatType" value="DELETED"> Total Deleted</label>
            </div>

            <div id="stat-controls">
                <a id="exportStats" href="#">Export Stats</a>
                <a id="clearAllStats" href="#">Clear all stats</a>
            </div>
            <p id="createdby">Created by <a href="http://www.johnakerman.co.uk" target="_blank">John</a> and <a href="http://mabportfolio.com/">Matthew</a></p>
        </div>
    </body>
</html>
