<!doctype html>
<html>
    <head>
        <title>Tab Stats</title>
        <link rel="stylesheet" href="/css/popup.css" />
        <script src="/js/popup.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <h1>Tab Stats</h1>
            <ul class="stat-list">
                <li><strong id="currentCount">0</strong> Current Count </li>
                <li><strong id="totalCreated">0</strong> Total Created</li>
                <li><strong id="tabsForWindow">0</strong> Current Window</li>
                <li><strong id="totalDeleted">0</strong> Total Deleted&nbsp;&nbsp;<a class="resetBtn" href="#" id="deletedReset">X</a></li>
				<li><strong id="longestTimeOnTab">N/A</strong> Longest Tab Duration</li>
            </ul>

            <div id="badge-options">
                <label><input type="checkbox" id="showStat" checked="checked"/> Show number on icon</label>
                <label><input type="radio" id="showCurrent" name="showStat" value="1" checked="checked"> Current Count</label>
                <label><input type="radio" id="showCreated" name="showStat" value="2"> Total Created</label>
                <label><input type="radio" id="showDeleted" name="showStat" value="3"> Total Deleted</label>
            </div>
            <span id="reset">Clear stats</span>
            <p id="createdby">Created by <a href="http://www.johnakerman.co.uk" target="_blank">John</a> and Matthew</p>
        </div>
    </body>
</html>